
/********Style by Rana Mazhar********/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 1000000px;
}

/********style content********/
.seers-wordpress-plugin-hol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* Safari 6.1+ */
    display: flex;
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    padding: 0px;
}
.seers-wordpress-plugin-hol .seers-plugin-main-cont .seers-content-col {
    overflow: hidden;
    padding: 12px 20px;
    margin: 0 0 20px 0px;
}
.seers-wordpress-plugin-hol .seers-plugin-main-cont {
    width: 70%;
    margin: 0 0 33px 0;
}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont {
    width: 30%;
    margin: 53px 0 33px 0;
}
.seers-plugin-main-cont form label{
    display:block;
    margin-bottom: 5px;
    display: inline;

}
.seers-plugin-main-cont form label > span{
    color: #444;
    /*font-weight: 600;*/
    /*font-size: 12px;*/
    margin: 0 0 3px 3px;

}
.seers-plugin-main-cont form fieldset{
    position: relative;
}
.seers-plugin-main-cont form fieldset legend{
    color: #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #fff;
    padding: 0px 8px 3px 8px;
    font-weight: normal;
    /*font-size: 12px;*/
}
.seers-plugin-main-cont textarea{
    width:100%;
    height:100px;
}
.seers-plugin-main-cont form fieldset input[type=text],
.seers-plugin-main-cont form fieldset input[type=date],
.seers-plugin-main-cont form fieldset input[type=datetime],
.seers-plugin-main-cont form fieldset input[type=number],
.seers-plugin-main-cont form fieldset input[type=search],
.seers-plugin-main-cont form fieldset input[type=time],
.seers-plugin-main-cont form fieldset input[type=url],
.seers-plugin-main-cont form fieldset input[type=email],
.seers-plugin-main-cont form fieldset select,
.seers-plugin-main-cont form fieldset textarea{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 3px;
    border: 1px solid #c1c1c1;
    outline: none;
    color: #444;
    padding: 5px 8px 5px 8px;
    width:100%;
    max-width: 100%;
    margin: 0 0 5px 0;
}
.seers-plugin-main-cont form fieldset input[type="text"]::-webkit-input-placeholder {
    /* Chrome */
    color: #c7c7c7 !important;
    /*font-size: 12px;*/
    font-weight: bold;
}
.seers-plugin-main-cont form fieldset input[type="text"]:-ms-input-placeholder {
    /* IE 10+ */
    color: #c7c7c7 !important;
    /*font-size: 12px;*/
    font-weight: bold;
}
.seers-plugin-main-cont form fieldset input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #c7c7c7 !important;
    font-size: 12px;
    font-weight: bold;
    opacity: 1;
}
.seers-plugin-main-cont form fieldset input[type="text"]:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #c7c7c7 !important;
    font-size: 12px;
    font-weight: bold;
    opacity: 1;
}
.seers-plugin-main-cont form fieldset input[type="text"]:focus {
    color: #292929 !important;
    background-color: #eff3ff !important;
    border-color: #3B6EF8 !important;
    outline: 0;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .1) !important;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .1) !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, .1) !important;
}
.seers-plugin-main-cont form fieldset input[type=submit],
.seers-plugin-main-cont form fieldset input[type=button]{
    background: #007cba;
    border: 1.4px solid #007cba;
    padding: 5px 15px 5px 15px;
    color: #fff;
    border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    /*font-size:13px;*/
    cursor: pointer;

}
.seers-plugin-main-cont form fieldset input[type=submit]:focus,
.seers-plugin-main-cont form fieldset input[type=button]:focus{
    outline: 0;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -moz-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -ms-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -o-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
}
.seers-plugin-main-cont form fieldset input[type=submit]:disabled,
.seers-plugin-main-cont form fieldset input[type=button]:disabled{
    background:#c1c1c1;
    border: 1.4px solid #c1c1c1;
    padding: 5px 15px 5px 15px;
    color: #fff;
    border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-weight: bold;
}
.seers-plugin-main-cont form fieldset button[type=button]{
    background: #007cba;
    border: 1.4px solid #007cba;
    padding: 5px 15px 5px 15px;
    color: #fff;
    border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-weight: bold;
    cursor: pointer;

}
.seers-plugin-main-cont form fieldset button[type=button]:focus{
    outline: 0;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -moz-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -ms-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -o-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
}
.required{
    color:red;
    font-weight:normal;
}
.seers-plugin-main-cont form fieldset .seers-checkbox{
    margin: 0 0 5px 0;

}
.tile-style {
    background: #fff;
    border-radius: 4px;
}
.seers-wordpress-plugin-hol .seers-content-col {
    overflow: hidden;
    padding: 12px 20px;
    margin: 0 13px 30px 13px;
    background:#fff;
}
.seers-wordpress-plugin-hol .seers-content-col a.btn.btn-white-bg {
    background: #007cba;
    border-radius: 4px;
    color: #fff;
    /*font-size: 13px;*/
    padding: 7px 55px;
    white-space: nowrap;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
    margin: 0 0 6px 0;

}
.seers-wordpress-plugin-hol .seers-content-col a.btn.btn-white-bg:focus{
    outline: 0;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -moz-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -ms-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -o-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
}
.seers-wordpress-plugin-hol .seers-content-col span.title-two {
    font-weight: 700;
    margin: 0 0 20px 0;
    display: inline-block;
    /*line-height: 28px;*/
    color: #444;
}
.seers-wordpress-plugin-hol .seers-plugin-main-cont .seers-content-col .seers-policies-hol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* Safari 6.1+ */
    display: flex;
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: space-between;
}
.seers-wordpress-plugin-hol .seers-plugin-main-cont .seers-content-col .seers-policies-hol ul {
    list-style: disc;
    padding: 0 0 0 16px;
    margin: 0 0 20px 0;
    flex: auto;
}
.seers-wordpress-plugin-hol .seers-plugin-main-cont .seers-content-col .seers-policies-hol ul:nth-child(1){
    margin: 0;
}
.seers-wordpress-plugin-hol .seers-plugin-main-cont .seers-content-col .seers-policies-hol ul li {
    position: relative;
    /*font-size: 12px;*/
    color: #444;
    margin: 0 0 3px 0;
    font-weight: bold;

}
.seers-wordpress-plugin-hol .seers-plugin-main-cont .seers-content-col .seers-policies-hol ul li:after {
    background: url(images/li-dote.svg) !important;
    content: '';
    left: -15px;
    top: 6px;
    position: absolute;
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.seers-wordpress-plugin-hol .seers-plugin-main-cont .seers-content-col span.title {
    font-weight: bold;
    margin: 0 0 15px 0;
    display: inline-block;
}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col {
    padding: 20px 25px;
    margin: 0 13px 20px 13px;
}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col h1 {
    font-weight: 700;
    margin: 0 0 25px 0;

}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col ul.branding {
    list-style: none;
    padding: 0 0 0 25px;
    margin: 0 0 22px 0;
}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col ul.branding li {
    position: relative;

    /*font-size: 12px;*/
    margin: 0 0 10px 0;
    color: #444;
    font-weight: bold;
    padding: 10px 0px 0px 20px;
    min-height: 50px;
}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col ul.branding li:after {
    content: '';
    left: -22px;
    top: 3px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("../images/cookie%20consent%20for%20branding.svg");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 0px -8px;
}

.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col ul.branding li.multilanguage:after {
    background-image: url("../images/cookie consent with multi-lingual.svg");
}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col ul.branding li.consentlog:after {
    background-image: url("../images/cookie consent with consent log.svg");
}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col ul.branding li.cookiepolicy:after {
    background-image: url("../images/Choose your Covid-19.svg");
    background-size: auto 33px;
    background-position: 0px 8px;
}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col ul.branding li.priorconsent:after {
    background-image: url("../images/cookie consent with prior consent.svg");
}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col ul.branding li.customerservice:after {
    background-image: url("../images/cookie consent customer support.svg");
}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col ul.branding li.cusomization:after {
    background-image: url("../images/Seers full customisable cookie banner.svg");
}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col ul.branding li.subdomain:after {
    background-image: url("../images/cookie consent for subdomains.svg");
}

.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col span.title {
    font-weight: bold;
    margin: 0 0 15px 0;
    display: inline-block;
    line-height: 27px;
    color: #444;

}
.seers-wordpress-plugin-hol .seers-content-col p {
    color: #747169 !important;
    /*font-size: 14px;*/
    margin: 0 0 20px 0;
    line-height: 1.4;

}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col a.btn.btn-green-bg {
    background:#007cba;
    border-radius: 20px;
    color: #fff;
    /*font-size: 13px;*/
    padding: 10px;
    width: 75%;
    margin: 0 auto 11px;
    font-weight: 500;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
    font-size: 1.1em;
}
.seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col a.btn.btn-green-bg:focus{
    outline: 0 !important;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -moz-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -ms-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
    -o-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
}

.seers-tabs-content{
    padding: 12px 20px;
    display: block;
}


/*===========================*/
/*extra css*/
/*===========================*/

/*setting*/
.seers-banner-setting h1{
    /*font-size:22px;*/
    color:#292929;
    margin:0px 0px 20px 0px;
}

.section-setting{
    margin:0px 15px;
    display: block;
}

/*Globel css for width*/
.seers-panel{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.seers-mb-10{
    margin-bottom: 10px;
}
.seers-mb-20{
    margin-bottom: 20px;
}
.seers-mb-30{
    margin-bottom: 30px;
}
.seers-mb-40{
    margin-bottom: 40px;
}
.seers-pl{
    flex-basis:25%;
}
.seers-pr{
    flex-basis:67%;
    display: flex;
    flex-wrap: wrap;
}

.policysetting .seers-pl{
    flex-basis:35%;
}
.policysetting .seers-pr{
    flex-basis:55%;
    display: flex;
    flex-wrap: wrap;
}

.seers-color-width{
    flex-basis: 18%;
}
/*Globel css for width*/

.seers-label{
    /*font-size:16px;*/
    /*color:#292929;*/
    margin: 9px 0px 0px 0px;
    display: inline-block;
    /*line-height: 16px;*/
    font-weight: 600;
}
.seers-label span{
    display: inline-block;
    font-weight: normal !important;
}
.seers-color-label{
    /*font-size:16px;*/
    /*color:#7E7E7E;*/
    margin: 0px 0px 0px 0px;
    display: inline-block;
    /*line-height: 16px;*/
    width: 110px;
}

/*.seers-input {*/
/*    width: 72%;*/
/*    max-width: 100% !important;*/
/*    height: 38px;*/
/*    border: 1px solid #707070 !important;*/
/*    color:#7E7E7E !important;*/
/*}*/

.seers-input.fm{
    /*width: 150px;*/
    max-width: 100%;
}

.seers-input.fs{
    /*width: 81px;*/
    max-width: 100%;
}

.seers-textarea{
    width: 66%;
    max-width: 100% !important;
    /*    height: 80px;*/
    padding:8px;
}

.color-pick-hol{
    display:inline-block;
}
.seers-banner-custom-color{
    border: none !important;
    background: none !important;
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;
    position: relative;
    top:-1px;
}

.seers-banner-custom-color:after{
    content:'';
    background:url(../images/color-icon.png);
    width:10px;
    height:9px;
    position: absolute;
    z-index: 99;
    right: 3px;
    bottom: 4px;


}

.seers-btn{
    border: none;
    width: 135px;
    min-height: 34px;
    max-width: 100%;
    /*font-size: 14px;*/
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #ccc;
    border-radius: 4px;
    /*line-height: 14px;*/
    position: relative;
    top: 0px;
    cursor: pointer;
    font-weight: 600;
}

.seers-btn.bg-red{
    background:#D54040;
}
.seers-btn.bg-blue{
    background:#3B6EF8;
}


.seers-select-btn{
    border:none;
    width: 149px;
    min-height: 38px;
    max-width: 100%;
    /*font-size:16px;*/
    text-decoration: none;
    text-align: center;
    color:#fff;
    background:#C2C2C2;
    border-radius: 4px;
    /*line-height: 16px;*/
    cursor: pointer;
    margin-right:10px;
    margin-bottom:10px;
}
.seers-select-display-btn{
    border: 0.0625rem solid #ced0da;
    color: #363840;
    width: 149px;
    min-height: 38px;
    max-width: 100%;
    /*font-size:16px;*/
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    /*line-height: 16px;*/
    cursor: pointer;
    margin-right:10px;
    margin-bottom:10px;
}
.seers-select-display-btn span {
    margin-right:10px;
}
.btn-default{border-radius: 4px;}
.btn-flat{border-radius: 0px !important;}
.btn-round{border-radius: 20px !important;}
.btn-stroke{background:#fff;border:1px solid #C2C2C2 !important;border-radius: 4x !important;color:#7E7E7E;}


.seers-btn-preview{
    border:none;
    max-width: 100%;
    /*font-size:11px;*/
    text-decoration: none;
    text-align: center;
    color:#fff;
    background:#3B6EF8;
    border-radius: 4px;
    /*line-height: 16px;*/
    cursor: pointer;
    margin-right:10px;
    padding: 10px 15px;
    font-weight: 600;
    position: relative;
    border:1px solid #3B6EF8;
    width: 95px;
    text-transform: uppercase;
}

.seers-btn-preview:hover{
    color:#fff;
}
.btn-input{
    /*width: 45%;*/
    /*margin-top: 0px;*/
    /*height: 35px;*/
    margin-left: 10px;
    margin-right:10px;
}

.seers-btn-preview.exit-preview,.seers-btn-preview.s-save{border:1px solid #C1C1C1;background: transparent;color:#3B6EF8;width: 100px;}


.btn-stroke.active {
    color: #7E7E7E !important;
}
/*setting end*/
/*============================================================================*/
/*Policy*/
.seers-pp{
    flex-basis:22%;
}
/*policy End*/
/*============================================================================*/

/*User Guide  */
.video-main-hol{
    display: flex;
    flex-flow: row wrap;
    margin: 20px -20px;
}

.videobox{
    flex:auto;
    margin:20px;
    background:#ffffff !important;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #c0c0c0;
    min-height: 295px;
    padding: 20px;
    box-sizing: border-box;
    flex-basis: 40%;
}

.videobox h3{
    /*font-size:24px;*/
    font-weight: 700;
    color:#292929;

}
.colorblue{
    color:#3B6EF8;
}
.documentation{
    display: inline-block;
    margin-top:30px;
}
.documentation p{
    /*font-size: 16px;*/
    color:#292929;
    margin: 9px 0px 0px 0px;
}
.documentation button{
    margin-left:15px;
    vertical-align: middle;
}
/*video-main-hol End*/

/*logo*/
.seers-plugin-logo{
    margin-top:30px;
}
/*logo end */


.seers-empty{
    display: inline-block;
    width: 169px;
}

.seers-setting-btn{
    background: transparent;
    color: #222;
    border: solid 1px #c1c1c1;
}

.seers-setting-btn:hover{
    color:#6CC04A;
}

/*===========================*/
/*extra css end*/
/*===========================*/
/*-----------------------------------------------------------*/
/*============================*/
/*Toggle*/
/*============================*/
.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #D9D9D9;
    border-radius: 16px;
    width: 44px;
    height: 26px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
    margin-top:5px;
}
.toggle-switch:before, .toggle-switch:after {
    content: "";
}
.toggle-switch:before {
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: left 0.25s;
    background:#fff;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: #D9D9D9;
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 21px;
    background:#3B6EF8;
}

.toggle-switch.opton:before {
    left: 21px;
    background:#3B6EF8;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}
/*============================*/
/*Toggle end*/
/*============================*/
/*----------------------------------------------------------------------*/
/*============================*/
/*tabs*/
/*============================*/
/* Tabs Start */

.seers-wordpress-main{
    /* padding-right:20px; */
    /* margin-top:30px; */
}

pc-tab > input,
.pc-tab section > div {
    display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3,
#tab4:checked ~ section .tab4,
#tab5:checked ~ section .tab5{
    display: block;
}

#tab1:checked ~ nav .tab1,
#tab2:checked ~ nav .tab2,
#tab3:checked ~ nav .tab3,
#tab4:checked ~ nav .tab4,
#tab5:checked ~ nav .tab5{
    color: red;
}

.pc-tab {
    width: 100%;
    max-width: 100%px;
    margin: 0 auto;
}
.pc-tab ul.tab-ul, .pc-tab ul.tab-ul-sub {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.rtl .pc-tab ul.tab-ul, .rtl .pc-tab ul.tab-ul-sub {
    margin-right: 16px;
}

/*.pc-tab ul li.tab1,*/
/*.pc-tab ul li.tab2,*/
/*.pc-tab ul li.tab3,*/
/*.pc-tab ul li.tab4*/
/*{*/
/*    flex:auto;*/

/*}*/

.pc-tab ul li{
    margin-left:0.5em;
}

.pc-tab ul li:first-child {
    margin-left: 0px;
}

.pc-tab ul li label {
    float: left;
    padding: 8.42px 0px;
    border-bottom: 0;
    background: #fff;
    width: 100%;
    text-align: center;
    /*font-size: 20px;*/
    background: #dcdcde;
    color: #50575e;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    border: 1px solid #c3c4c7;
    border-bottom: none;
}
.pc-tab ul li label:hover {
    /*background: #312a2a00;*/
    background: #FFF;
}
.pc-tab ul li label:active {
    /*background: #312a2a00;*/
    background: #FFF;
}
.pc-tab ul li:not(:last-child) label {
    border-right-width: 0;
}
.pc-tab section {
    clear: both;
    margin-top:-5px;
    position:relative;
}
.pc-tab section div {
    background: #fff0;
    line-height: 1.5em;
}


/*sub tabs in settings tab*/
.pc-tab ul.tab-ul-sub li label {
    float: left;
    padding: 0px 0px;
    border-bottom: 0;
    background: #fff;
    width: 100%;
    text-align: center;
    background: transparent;
    color: #000;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    border: none;
    border-bottom: none;
}
.pc-tab ul.tab-ul-sub li label:hover {
    /*background: #312a2a00;*/
    background: #FFF;
}

.pc-tab ul.tab-ul-sub li.tactive label {
    background: #FFF;
    color:#0073aa;
    cursor: default;
}

.pc-tab ul.tab-ul-sub li label:active {
    /*background: #312a2a00;*/
    background: #FFF;
}
.pc-tab ul.tab-ul-sub li:not(:last-child) label {
    border-right-width: 0;
}

.pc-tab ul.tab-ul-sub li:first-child {
        border-left: 0px;
}

.pc-tab ul.tab-ul-sub li {
        border-left: solid 1px #ccc;
}

.seers-tab-countainer > div {
    display:none;
    -webkit-animation: seers-paid-fade-in .7s ease-in-out;
    -moz-animation: seers-paid-fade-in .7s ease-in-out;
    -ms-animation: seers-paid-fade-in .7s ease-in-out;
    -o-animation: seers-paid-fade-in .7s ease-in-out;
    animation: seers-paid-fade-in .7s ease-in-out;
    flex-direction: row;
    flex-wrap: wrap;
}

section div.seers-tab-footer {
    padding: 15px;
    background: #f5f5f5;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -12px;
}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label,
#tab3:checked ~ nav .tab3 label,
#tab4:checked ~ nav .tab4 label,
#tab5:checked ~ nav .tab5 label{
    /*background: #ffffff00;*/
    color: #000;
    position: relative;
    background: #FFF;
}
#tab1:checked ~ nav .tab1 label:after,
#tab2:checked ~ nav .tab2 label:after,
#tab3:checked ~ nav .tab3 label:after,
#tab4:checked ~ nav .tab4 label:after,
#tab5:checked ~ nav .tab5 label:after{
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #FFF;
    left: 0;
    bottom: -2px;
    z-index: 2;
}
.pc-tab input[type=radio]{
    visibility: hidden;
}

section div.tab1,
section div.tab2,
section div.tab3,
section div.tab4,
section div.tab5{
    background: #FFF;
    margin-right: 15px;
    box-shadow: 0px 2px 2px #ccc;
    border-left: 1px solid #c3c4c7;
    border-right: 1px solid #c3c4c7;
    border-top: 1px solid #c3c4c7;
}
/*tabs end*/

.seersinfotext{
    font-weight: bold;
    color: #007cba;
    display: block !important;
    margin: 40px 0 0 0;
}

/********Responsive styles**********/

@media (max-width: 1023px) {
    .seers-wordpress-plugin-hol .seers-plugin-main-cont {
        width: 100% !important;
        margin: 0 !important;
    }
    .seers-wordpress-plugin-hol .seers-plugin-sidebar-cont {
        width: 100% !important;
        margin: 0 !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        /* Safari 6.1+ */
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: center;
        -ms-align-items: flex-start;
        align-items: flex-start;
    }
    .seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col {
        width: 50%;
    }
    h1 {
        line-height: 32px;
    }
    span.title {
        line-height: 20px;
    }
    span.title-two {
        line-height: 20px;
    }
}

@media (max-width: 767px) {
    .seers-wordpress-plugin-hol .seers-content-col span.title-two {
        margin: 0 0 15px 0 !important;
        line-height: 24px !important;
        /*font-size: 18px !important;*/
    }
    .seers-wordpress-plugin-hol .seers-content-col p {
        /*font-size: 12px !important;*/
        margin: 0 0 15px 0 !important;
    }
    .seers-wordpress-plugin-hol .content-hol {
        margin: 0 -13px;
    }
    .seers-wordpress-plugin-hol {
        padding: 20px 0px !important;
    }
    .auto-fold #wpcontent {
        position: relative;
        margin-left: 0;
        padding-left: 0;
    }
    .seers-wordpress-plugin-hol .seers-plugin-sidebar-cont {
        flex-direction: column;
    }
    .seers-wordpress-plugin-hol .seers-plugin-sidebar-cont .seers-content-col {
        width: -webkit-fill-available;
    }
    .seers-wordpress-main {
        padding-right: 10px !important;
        padding-left: 10px !important;
        margin-top: 30px;
    }
    .seers-mb-30{
        margin-bottom: 20px !important;
    }
    .seers-select-btn{
        margin-bottom:10px !important;
    }
    .seers-label{
        margin-bottom:10px !important;
    }
    .pc-tab ul li label{
        /*font-size:14px !important;*/
    }
    .seers-banner-setting{
        padding:20px 10px !important;
    }

    .seers-panel{
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

}

@media (max-width: 639px) {
    .seers-wordpress-plugin-hol .seers-plugin-main-cont .seers-content-col.video-col .video-hol {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .seers-wordpress-plugin-hol .seers-plugin-main-cont .seers-content-col span.title {
        font-weight: bold;
        margin: 15px 0 15px 0 !important;
        display: inline-block;
    }
}

@media (max-width: 479px) {
    .seers-wordpress-plugin-hol .seers-plugin-main-cont .seers-content-col .form-hol form.form-inline .input-hol {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .seers-wordpress-plugin-hol .seers-plugin-main-cont .seers-content-col.video-col .video-hol span.title {
        font-weight: 700;
        margin: 15px 0 0 18px;
    }
    .seers-wordpress-plugin-hol .seers-plugin-main-cont .seers-content-col ul.banner-success {
        list-style: none;
        margin: 60px 0 0 16px !important;
    }
    .seers-wordpress-plugin-hol .seers-plugin-main-cont .seers-content-col .form-hol button {
        margin: 0 !important;
        padding: 6px 13px;
        position: absolute;
        bottom: -38px;
        left: 0;
    }
}

.tab2{
    position:relative;
}

#loader{
    background: url("../images/loader-2.gif");
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #eceaea;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.4;
}
#policyloader{
    background: url("../images/loader-2.gif");
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #eceaea;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.4;
}
#loginloader{
    background: url("../images/loader-2.gif");
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #eceaea;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.4;
}
.seers_btn_div{
    display: flex;
}
button.seers-btn-preview:disabled{
    background:#c1c1c1;
    border: 1.4px solid #c1c1c1;
    padding: 5px 15px 5px 15px;
    color: #fff;
    border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-weight: bold;
    cursor: none;
}

.seers-paid-cmp-overlay {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 99999999999999;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-animation: seers-paid-fade-in .7s ease-in-out;
    -moz-animation: seers-paid-fade-in .7s ease-in-out;
    -ms-animation: seers-paid-fade-in .7s ease-in-out;
    -o-animation: seers-paid-fade-in .7s ease-in-out;
    animation: seers-paid-fade-in .7s ease-in-out;
}

@-webkit-keyframes seers-paid-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes seers-paid-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes seers-paid-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes seers-paid-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes seers-paid-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.seers-cmp-paid-popup-content {
    overflow: hidden;
    z-index: 999999999999999;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    max-width: 370px;
    width: 370px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -webkit-animation: seers-cmp-paidp-fadeIn ease .7s;
    -moz-animation: seers-cmp-paidp-fadeIn ease .7s;
    -o-animation: seers-cmp-paidp-fadeIn ease .7s;
    -ms-animation: seers-cmp-paidp-fadeIn ease .7s;
    -animation: seers-cmp-paidp-fadeIn ease .7s;
}

@keyframes seers-cmp-paidp-fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@-moz-keyframes seers-cmp-paidp-fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@-webkit-keyframes seers-cmp-paidp-fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@-o-keyframes seers-cmp-paidp-fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@-ms-keyframes seers-cmp-paidp-fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.seers-paid-cmp-overlay.seers-cmp-paid-overlay-active {
    display: block;
}

.seers-cmp-paid-popup-content.seers-cmp-paid-popup-active {
    display: block !important;
}

.seers-cmp-paid-popup-content.seers-cmp-paid-popup-no-active {
    display: none!important;
}

.seers-cmp-paid-popup-close, .seers-cmp-confirm-popup-close, .seers-cmp-login-popup-close, .seers-cmp-bannersetting-popup-close {
    position: absolute;
    right: 20px;
    top: 25px;
    cursor: pointer;
    font-size: 30px;
    line-height: 0;
    color: #3B6EF8;
    font-weight: bold;
    z-index: 99;
}

.seers-cmp-paid-popup-content .seers-cmp-paid-body-text {
    padding: 20px;
}

.seers-cmp-paid-popup-accordion-tabs {
    padding-right: 15px;
    overflow-y: auto;
    height: 200px;
}

.seers-cmp-paid-popup-accordion-tab-content .seers-cmp-paid-popup-accordion-tab-content-text,
.seers-cmp-paid-popup-content .seers-cmp-paid-body-text .seers-cmp-paid-title, 
.seers-cmp-paid-popup-content .seers-cmp-paid-body-text .seers-cmp-paid-text  {
    -webkit-font-smoothing: auto;
    letter-spacing: normal;
    line-height: normal;
    padding: 0;
    height: auto;
    min-height: 0;
    max-height: none;
    width: auto;
    min-width: 0;
    max-width: none;
    border-radius: 0;
    border: none;
    clear: none;
    float: none;
    position: static;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    background: none;
    overflow: visible;
    vertical-align: baseline;
    visibility: visible;
    z-index: auto;
    box-shadow: none;
}

.seers-cmp-paid-popup-content .seers-cmp-paid-body-text .seers-cmp-paid-title {
    font-weight: bold;
    position: relative;
    font-size: 20px;
    color: #555;
    margin: 0 0 15px 0 !important;
    font-family: "Arial";
    text-transform: unset !important;
}

.seers-cmp-paid-popup-content .seers-cmp-paid-popup-footer .seers-cmp-paid-popup-footer-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: -moz-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-flex-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: end;
    -moz-box-align: end;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    margin: 0 auto 15px !important;
}

.seers-cmp-paid-popup-content .seers-cmp-paid-popup-footer .seers-cmp-paid-popup-footer-block .seers-cmp-btn {
    -webkit-font-smoothing: auto;
    height: auto;
    min-height: 0;
    max-height: none;
    width: auto;
    min-width: 0;
    max-width: none;
    clear: none;
    float: none;
    position: static;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    overflow: visible;
    vertical-align: baseline;
    visibility: visible;
    z-index: auto;
    box-shadow: none;
    text-transform: capitalize;
}

.seers-cmp-paid-popup-content .seers-cmp-paid-popup-footer .seers-cmp-paid-popup-footer-block .seers-cmp-btn {
    background: #3B6EF8;
    font-family: "Arial";
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    border: none;
    padding: 7px 15px;
    line-height: 1.5em;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    width:120px;
}

.seers-cmp-paid-popup-content .seers-cmp-paid-popup-footer .seers-cmp-paid-popup-footer-block .seers-keepseetingsbtn {
    width:165px;
}

.seers-cmp-paid-popup-content .seers-cmp-paid-popup-footer .seers-cmp-paid-popup-footer-block .seers-cmp-btn:hover {
    background: #3544ee;
}

.seers-cmp-paid-popup-content .seers-cmp-paid-popup-footer .seers-cmp-paid-popup-footer-block .seers-cmp-btn:first-child{
    margin-right: 10px;
}


span.tooltip 
{
    position: relative;
    cursor: pointer;
}

span.tooltip:hover::after 
{
    content: attr(data-title);
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: relative;
    top: 2px;
    left: 5px;
    z-index: 444;
    font-size: 12px;
    white-space: nowrap;
    width: auto;
}

.tooltiphtml {
  position: relative;
  display: inline-block;
}

.tooltiphtml .tooltiptext {
  visibility: hidden;
  background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 444;
    font-size: 12px;
    white-space: nowrap;
    width: auto;

  /* Position the tooltip */
  position: absolute;
}

.tooltiphtml:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext a {
    color:#ccc;
}

.tooltiptext a:hover{
    color:#6cc04a;
}

/*scrollbar style*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #9b9696;
    border: 5px solid transparent;
}

::-webkit-scrollbar-button {
    display: none;
}
/*accordion*/

.seers-buttons > div {
    width: 100%;
    display: flex;
    align-items: center;
}

ul.branding li span {
    font-weight: normal;
}

ul.branding li span:before {
    content: ": ";
    font-weight: bold;
}

ul.help-guide {
    display: flex;
    width: 100%;
}

.help-guide li {
    padding: 75px 40px;
    margin: 20px;
    display: inline-flex;
    text-align: center;
    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
    width: 250px;
}

.help-guide li .dashicons {
    width: auto;
    height: auto;
}

.help-guide li .dashicons:before {
    font-size: 135px;
    color: #0088cc;
}

.help-guide li .dashicons span {
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.help-guide li .dashicons span {
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.help-guide li .dashicons a {
    margin-top:10px;
}

.help-guide li .dashicons a, .help-guide li .dashicons p {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.seers-content-col .title-two-right {
    text-align: center;
    font-size: 2em;
    margin: 0px 0px 30px 0px;
    padding: 1em 0px;
    background-color: transparent;
    color:#000;
    border-radius: 35px;
    width: 90%;
    margin: auto;
    line-height: 1.3em;
    border: 1px solid #6cc048;
}

.seers-headingbg {
    background: #F0F3FF;
    margin: -20px -26px 15px -25px;
    padding: 20px 20px 20px 20px;
}

span.seers-greentext {
    color: #6cc048;
}

.seers_messages {
    position: absolute;
    right:25px;
}

.seers-notification a {
    text-decoration: none;
}

.seers-cmp-badge {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 15px;
    left: 15px;
    z-index: 999999999999;
    cursor: pointer;
}

#seers-paid-confirmmsg-bodytext{
    padding-top: 20px;
}

label[for="SCCBPP_cookie_consent_url"] {
    padding-top: 20px;
    display: block !important;
}

.loginform .form-group {
    text-align:center;
}

.loginform .form-group input {
    width:80%;
}

.loginform .form-group input:nth-child(1) {
    margin-bottom:10px;
}

.errorsmsgs {
    color: #FF0000;
}

.errorsmsgs ul {
    list-style: disc;
    width: 75%;
    margin-left: 16%;
}

.dashicons.tooltipicon{
    transform: rotate(270deg);
    border: 1px solid #000;
    line-height: 32px;
}

.dashicons.bannerpos:before {
    transform: rotate(180deg);
}

.dashicons.bannertpos:before {
    transform: rotate(0deg);
}

.dashicons.bannerbpos:before {
    transform: rotate(0deg);
}